# Shared
NODE_ENV=development

# Gateway
GATEWAY_PORT=3000
GATEWAY_JWT_SECRET=replace-with-secure-shared-jwt-secret
GATEWAY_SSO_URL=http://localhost:3001
GATEWAY_BANK_URL=http://localhost:3002
GATEWAY_INTERNAL_HMAC_SECRET=replace-with-secure-internal-hmac-secret

# SSO
SSO_PORT=3001
SSO_DATABASE_URL=postgres://postgres:postgres@localhost:5432/sso_db
SSO_JWT_SECRET=replace-with-secure-shared-jwt-secret

# Bank Accounts
BANK_PORT=3002
BANK_DATABASE_URL=postgres://postgres:postgres@localhost:5433/bank_db
BANK_MOCKAPI_BASE_URL=https://mockapi.io
BANK_INTERNAL_HMAC_SECRET=replace-with-secure-internal-hmac-secret

# Databases
POSTGRES_SSO_PORT=5432
POSTGRES_SSO_DB=sso_db
POSTGRES_SSO_USER=postgres
POSTGRES_SSO_PASSWORD=postgres
POSTGRES_BANK_PORT=5433
POSTGRES_BANK_DB=bank_db
POSTGRES_BANK_USER=postgres
POSTGRES_BANK_PASSWORD=postgres
